@media(max-width:1399px){
	
	.time-plan-txt {
		color: #00514C;
		text-align: center;
		font-size: 30px;
		font-weight: 500;
		width: 100%;
		margin: auto;
		margin-bottom: 40px;
	}
	.time-plan-section td {
		font-size: 26px;
	}
	.time-plan-section thead{
		font-size: 26px;
	}
}
@media(max-width:1199px){
	.season-name span{
		font-size: 32px;
	}
	#award-seasons .season-box{
		height: 350px;
	}
	.form-abouts-us{
		padding-left: 0;
	}
	.accBox-h__desc {
		white-space: normal;
		padding: 20px;
	}
	.box-trophy .tropy-text h3 {
		color: #fff;
		font-size: 17px;
		margin-bottom: 20px;
		font-weight: 400;
	}
	/* .box-trophy .tropy-text p {
		font-size: 19px;
	} */
	.t-desc{
		font-size: 16px;
		line-height: 1.5;
	}
}
@media(max-width:991px){
	.table-h {
		width: 0px;
	}
	.table-box-1 {
		padding-right: 100px !important;
	}
	.form-abouts-us{
		padding-left: 0;
	}
	.accordinas {
		display: none;
	}
	.accordians-mobile {
		display: block;
	}
	.box-trophy .tropy-text h3 {
		color: #fff;
		font-size: 18px;
		margin-bottom: 20px;
		font-weight: 400;
	}
	.box-trophy .tropy-text p {
		font-size: 22px;
	}
	.acc-mob{
		display: block;
	}
}
@media(max-width:767px){
	
	.time-plan-section table th, .time-plan-section table td {
		padding-right: 5px !important;
		font-size: 13px;
	}
	.accordinas__heading {
		font-size: 28px;
		margin-bottom: 20px;
	}
	.accordinas__desc{
		font-size: 15px;
	}
	.award-txt{
		font-size: 30px;
	}
	.time-plan-txt {
		font-size: 22px;
		margin-bottom: 25px;
	}
}